/dessin
/frame
/masque
/recordings
/export ET
/resultat_enquete
/transpose
/Stats
/transpose
/recordings
resultat.qgz
*.docx
/Ancien_script
/image article
/zone_interet
nettoyage.py
*.qgz
/Script/Polyline_Hausdorff-main
/Stats/script
/Script/coord_fixation_on_map
/Script/fixations_on_surface
/Script/infos_player
/Script/intersection
/Script/metrique_zoom
/Script/metrique_pan
/Script/old_data
/Script/pan
/Script/pan_center
/Script/pan_center_translation
/Script/pan_dist_pixel
/Script/pan_time
/Script/resultat_enquete
/Script/saccade
/Script/shape
/Script/zoom
/Script/zoom_center
/Script/zoom_dist_pixel
/Script/zoom_time

/zoom_coord