/dessin
/frame
/masque
/recordings
/export ET
/resultat_enquete
/transpose
/Stats/script/recordings
/transpose
/recordings
resultat.qgz
*.docx
/Ancien_script
/image article
/zone_interet
nettoyage.py
*.qgz
/Script/Polyline_Hausdorff-main
/Stats/*.csv
/Stats/resultats